# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# React Native / Android
node_modules/
.android/
.ios/
*.apk
*.aab
*.keystore

# Базы данных
*.db
*.sqlite

# Логи и отчеты
*.log
output/
reports/

# IDE
.vscode/
.idea/
*.iml
